body {
  background-image: url("../images/flying.jpg");
  background-size: cover; /* Corrected */
  text-align: center;
  font-family: "Arial", sans-serif;
}

#formcontainer {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0;
  margin-left: auto; /* Center the h1 text horizontally */
  margin-right: auto; /* Center the h1 text horizontally */
}

p {
  font-size: 1.2em;
  font-style: italic;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media screen and (min-width: 768px) {
  #formcontainer {
    padding: 30px;
  }

  input[type="text"],
  input[type="email"] {
    width: calc(70% - 20px);
  }
}
